<nav>
  <ul>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'about', about_path %></li>
    <li><%= link_to 'work', work_path %></li>
    <li><%= link_to 'projects', projects_path %></li>
  </ul>
</nav>