<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100|Open+Sans:700,300' rel='stylesheet' type='text/css'>
    <title>colin m leung</title>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow, noarchive"/>
    <meta name="googlebot" content="noarchive"/>
    <link href="style1.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div id="logotype">
        <h1>cml</h1>
      </div>
      <img id="logo" src="drawing.png" height="50" width="55"/>
    </header>
    <%= render 'navigation' %>
    <div id="bodycontent">
      <p>Hi, my name is Colin. I'm a fifth year Engineering Physics student at the University of British Columbia. I'm interested in a lot of things: technology, politics, economics, sociology, and business.</p>

      <p>I've built user interfaces for signal processing applications, designed image analysis algorithms to analyze microscopic cement images, and created test environments to help reduce system-on-chip power consumption.</p>
            
      <p>Lately, I've been learning how to build web applications with technologies like Javascript, PHP, and MySQL.</p>

      <!--<p>I'm currently working on a productivity application that helps you reflect on your work, detect unproductive patterns, and replace these habits with better ones.</p>-->
    </div>
    <script type="text/javascript" src="jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="common.js"></script>
  </body>
</html>