<div id="content" role="main" style="margin-top: 75px;">
  <div class="container">
    <p>Hi, I'm Colin. I'm currently in my final year studying Engineering Physics at the University of British Columbia.</p>

    <p>Previously, I worked as a web developer at Ingenium Technologies doing full-stack feature development for an enterprise lead management application. Other work experiences I've had include researching cement image analysis algorithms in Japan, measuring power consumption on smartphones running Angry Birds, and designing interfaces for demonstrating ship detection algorithms.</p>

    <p>I'm currently working on a smart city application that involves combining multiple geographically-focused real-time data sources (such as Twitter) and processing the data (using clustering, sentiment analysis, etc.) such that users can engage with the data and discover interesting relationships themselves. I've also worked on a slew of small web prototypes to learn technologies such as Node.js, Ruby on Rails, MongoDB, and PHP.</p>

    <p>I'm currently looking for full-time opportunities in software development starting in the summer of 2014. My greatest strengths lie in my generalist technical background and my "get 'er done" attitude; if you need someone who has previous development experience, learns quickly, and can get things done, send me an email at <%= mail_to "colinmleung@gmail.com" %>.</p>

    <p>Thanks for visiting!</p>
  </div>
</div>