<% content_for :head do %>
  <%=stylesheet_link_tag "style1" %>
<% end %>

<%= render 'header' %>
<%= render 'navigation' %>
<div id="bodycontent">
  <p>Hi, my name is Colin. I'm a fifth year Engineering Physics student at the University of British Columbia. I'm interested in a lot of things: technology, politics, economics, sociology, and business.</p>

  <p>I've built user interfaces for signal processing applications, designed image analysis algorithms to analyze microscopic cement images, and created test environments to help reduce system-on-chip power consumption.</p>
            
  <p>Lately, I've been learning how to build web applications with technologies like Javascript, PHP, and MySQL.</p>
</div>