<% content_for :head do %>
  <%=stylesheet_link_tag "style1" %>
<% end %>

<%= render 'header' %>
<%= render 'navigation' %>
<div id="bodycontent">
  <p>Contact me at <%= mail_to "colinmleung@gmail.com" %>.</p>
</div>