<div id="content" role="main" class="centered">
  <div class="container">
    <%= image_tag("rails.png", size: "150x100", alt: "logo", style: "float: left;") %>
    <div class="offcenter">
      <h1>Hi, I'm a web developer who likes learning new technologies and prototyping cool things.</h1>
      <br/>
      <a class="btn btn-lg btn-primary" href="colinmleung_resume.pdf" target="_blank">View Resume</a>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <%= link_to image_tag("social-011_linkedin.png", alt: "linkedin", style: "float: right; padding-right: 5px; padding-top: 5px; padding-left: 25px;"), "http://www.linkedin.com/pub/colin-leung/46/310/b83" %>
    <%= link_to image_tag("github-9-xxl.png", alt: "github", size: "60x60", style: "float: right; padding-left: 25px;"), "https://github.com/colinmleung" %>
    <%= link_to image_tag("1379827905_aiga_mail_inver.png", size: "25x25", alt: "email", style: "float: right; padding-top: 5px;"), "mailto:colinmleung@gmail.com" %>
  </div>
</footer>