<div id="content" class="centered">
  <div class="container">
    <%= image_tag("IMG_20130924_123240_smaller.jpg", id: "home_pic", size: "200x150", alt: "Picture of me", style: "float: left; margin-top: 23px; border-style: solid; border-width: 3px;") %>
    <div class="offcenter">
      <h1>Hi, I'm a web developer who likes learning new technologies and prototyping cool things.</h1>
      <br/>
      <a class="btn btn-lg btn-primary" href="colinmleung_resume.pdf" target="_blank">View Resume</a>
    </div>
  </div>
</div>

