<% content_for :head do %>
  <%=stylesheet_link_tag "style1" %>
<% end %>

<header>
  <div id="firstName">
    <h1 id="firstNameInitial">c</h1>
    <h1 id="firstNameRest">olin</h1>
  </div>
  <div id="middleName">
    <h1 id="middleNameInitial">m</h1>
  </div>
  <div id="lastName">
    <h1 id="lastNameInitial">l</h1>
    <h1 id="lastNameRest">eung</h1>
  </div>
</header>
<%= render 'navigation' %>
<%= image_tag("drawing.png", size: "55x50", alt: "logo") %>