<div id="content" role="main" class="centered">
  <div class="container">
    <%= image_tag("rails.png", size: "150x100", alt: "logo", style: "float: left;") %>
    <div class="offcenter">
      <h1>Hello, my name is Colin. Welcome to my website. Lorem ipsum blah blah blah blah blah.</h1>
      <br/>
      <a class="btn btn-lg btn-primary" href="resume.pdf" target="_blank">View Resume</a>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <%= link_to image_tag("social-011_linkedin.png", alt: "logo", style: "float: left; padding-right: 25px; padding-top: 5px;"), "http://www.linkedin.com/pub/colin-leung/46/310/b83" %>
    <%= link_to image_tag("Logos-Github-icon.png", alt: "logo", style: "float: left;"), "https://github.com/colinmleung" %>
  </div>
</footer>