<div id="bodycontent">
  <div id="resume">
    <object data='resume.pdf#'
                type='application/pdf'
                width='750'
                height='1035'>
      <p>It appears your Web browser is not configured to display PDF files.
                No worries, just <a href='resume.pdf'>click here to download the PDF file.</a></p>
    </object>
  </div>
</div>