/* CSS for colinmleung.com */

header, nav, section, article, aside, footer {
   display:block;
}

nav {
font-family: 'Josefin Slab', serif;
}

header {
font-family: 'Open Sans', sans-serif;
padding: 0;
margin: 0;
position: absolute;
font-size: 2em;
top: 250px;
left: 140px;
}

#firstName, #middleName, #lastName {
position: relative;
}

#firstNameRest, #lastNameRest {
position: absolute;
}

#firstName {
top: 0px;
    *top: 40px;
left: 40px;
}

#middleName {
top: -75px;
    *top: -15px;
left: 2px;
}

#lastName {
top: -130px;
    *top: -70px;
left: 80px;
}

#firstNameInitial {
    font-size: 2em;
    position: relative;
}

#firstNameRest {
top: -42px;
    *top: 0px;
left: 33px;
font-size: 2em;
}

#middleNameInitial {
    font-size: 2em;
    position: relative;
}

#lastNameInitial {
    font-size: 2em;
    position: relative;
}

#lastNameRest {
top: -42px;
    *top: 0px;
left: 20px;
    font-size: 2em;
}

#firstNameRest, #lastNameRest {
color: #d0d0d0;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
float: left;
position: absolute;
top: 100px;
left: 85px;
}

a {
text-decoration: none;
}

a:link, a:visited {
color: #b0b0b0;
}

a:hover, a:active, a.current {
color: #000000;
}

#logo {
position: absolute;
top: 275px;
left: 600px;
}

#logotype {
position: absolute;
font-size: 0.5em;
top: -250px;
left: -125px;
}